* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    background-image: center;
    background-position: cover;
    background-repeat: no-repeat;
}
.web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: red;
}
.web li {
    display: inline;
    margin: 0 10px;
    list-style: none;
}
.web li a {
    text-decoration: none;
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 10px;
    transition: all 3s ease-in-out;
}
.web li :hover{
    background-color: black;
    color: white;
}